In [1]:
import polars as pl
from polars.testing.parametric import dataframes, column

In [ ]:
pl.Config.set_tbl_rows(100)

Book = pl.Enum("XYZ")

def generate(size=20):
    return dataframes(
    [
        column("id", dtype=pl.UInt16, unique=True, allow_null=False), 
        column("value", dtype=pl.Float64, allow_null=False), 
        column("category", dtype = Book, allow_null=False)
    ], 
    min_size=size, max_size=size)

original = generate().example()

In [3]:
original

shape: (20, 3)
┌───────┬──────────────┬──────────┐
│ id    ┆ value        ┆ category │
│ ---   ┆ ---          ┆ ---      │
│ u16   ┆ f64          ┆ enum     │
╞═══════╪══════════════╪══════════╡
│ 63323 ┆ 1.0278e139   ┆ X        │
│ 63685 ┆ 1.6870e221   ┆ Y        │
│ 54131 ┆ 5.0194e16    ┆ Y        │
│ 54624 ┆ -4.0034e-10  ┆ Z        │
│ 299   ┆ -3.3401e41   ┆ Z        │
│ 10238 ┆ -3.7161e137  ┆ Y        │
│ 21722 ┆ -4.4864e45   ┆ Y        │
│ 21562 ┆ -4.9719e16   ┆ Z        │
│ 62647 ┆ 1.0605e86    ┆ Z        │
│ 10981 ┆ -6.4742e73   ┆ Y        │
│ 47512 ┆ -8.5754e291  ┆ X        │
│ 26101 ┆ -7.1264e14   ┆ X        │
│ 6737  ┆ -2.00001     ┆ Y        │
│ 48680 ┆ 6.1712e-34   ┆ Y        │
│ 23084 ┆ -0.5         ┆ Z        │
│ 28673 ┆ 7.1279e16    ┆ X        │
│ 56237 ┆ 7.3377e-12   ┆ Z        │
│ 42860 ┆ -2.5249e172  ┆ Z        │
│ 17060 ┆ -3.0059e-161 ┆ Y        │
│ 63161 ┆ -1.0021e42   ┆ X        │
└───────┴──────────────┴──────────┘

In [ ]:
def mutate(df, k,j):
    return df.with_columns(
        category = pl.when(pl.col.category == k).then(pl.lit(j).cast(Book)).otherwise("category"),
    )

In [5]:
new = pl.concat([mutate(original, "X","Z").head(18), generate(3).example()])

In [6]:
new

shape: (21, 3)
┌───────┬──────────────┬──────────┐
│ id    ┆ value        ┆ category │
│ ---   ┆ ---          ┆ ---      │
│ u16   ┆ f64          ┆ enum     │
╞═══════╪══════════════╪══════════╡
│ 63323 ┆ 1.0278e139   ┆ Z        │
│ 63685 ┆ 1.6870e221   ┆ Y        │
│ 54131 ┆ 5.0194e16    ┆ Y        │
│ 54624 ┆ -4.0034e-10  ┆ Z        │
│ 299   ┆ -3.3401e41   ┆ Z        │
│ 10238 ┆ -3.7161e137  ┆ Y        │
│ 21722 ┆ -4.4864e45   ┆ Y        │
│ 21562 ┆ -4.9719e16   ┆ Z        │
│ 62647 ┆ 1.0605e86    ┆ Z        │
│ 10981 ┆ -6.4742e73   ┆ Y        │
│ 47512 ┆ -8.5754e291  ┆ Z        │
│ 26101 ┆ -7.1264e14   ┆ Z        │
│ 6737  ┆ -2.00001     ┆ Y        │
│ 48680 ┆ 6.1712e-34   ┆ Y        │
│ 23084 ┆ -0.5         ┆ Z        │
│ 28673 ┆ 7.1279e16    ┆ Z        │
│ 56237 ┆ 7.3377e-12   ┆ Z        │
│ 42860 ┆ -2.5249e172  ┆ Z        │
│ 6971  ┆ -4.9505e16   ┆ Y        │
│ 19954 ┆ -1.7268e-306 ┆ X        │
│ 5043  ┆ 6.7884e58    ┆ Z        │
└───────┴──────────────┴──────────┘

In [7]:
original.group_by("category").agg(pl.sum("value"))

shape: (3, 2)
┌──────────┬─────────────┐
│ category ┆ value       │
│ ---      ┆ ---         │
│ enum     ┆ f64         │
╞══════════╪═════════════╡
│ X        ┆ -8.5754e291 │
│ Y        ┆ 1.6870e221  │
│ Z        ┆ -2.5249e172 │
└──────────┴─────────────┘

In [8]:
new.group_by("category").agg(pl.sum("value"))

shape: (3, 2)
┌──────────┬──────────────┐
│ category ┆ value        │
│ ---      ┆ ---          │
│ enum     ┆ f64          │
╞══════════╪══════════════╡
│ Z        ┆ -8.5754e291  │
│ Y        ┆ 1.6870e221   │
│ X        ┆ -1.7268e-306 │
└──────────┴──────────────┘

In [9]:
full = original.join(new, on="id", how="full")

In [10]:
minus = (
    full
    .filter((pl.col.category=="X") & (pl.col.category_right!="X"))
    .select(pl.col.value.sum())
)

In [11]:
plus = (full.filter(
   ( (pl.col.category != "X") | pl.col.category.is_null()) & (pl.col.category_right=="X") 
)
.select(pl.col.value_right.sum()))

In [12]:
original.filter(pl.col.category=="X").select(pl.col.value.sum()) - minus + plus

shape: (1, 1)
┌──────────────┐
│ value        │
│ ---          │
│ f64          │
╞══════════════╡
│ -1.7268e-306 │
└──────────────┘

In [13]:
new.group_by("category").agg(pl.sum("value"))

shape: (3, 2)
┌──────────┬──────────────┐
│ category ┆ value        │
│ ---      ┆ ---          │
│ enum     ┆ f64          │
╞══════════╪══════════════╡
│ Z        ┆ -8.5754e291  │
│ Y        ┆ 1.6870e221   │
│ X        ┆ -1.7268e-306 │
└──────────┴──────────────┘